
@font-face {font-family: "iconfont";
  src: url('iconfont.eot');
  src: url('iconfont.eot#iefix') format('embedded-opentype'),
  url('iconfont.woff') format('woff'),
  url('iconfont.ttf') format('truetype'),
  url('iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.if-checked:before { content: "\e708"; }

.if-delete:before { content: "\e608"; }

.if-download:before { content: "\e607"; }

.if-close:before { content: "\e60a"; }

.if-arrow-down:before { content: "\e609"; }

.if-nav:before { content: "\e605"; }

.if-message:before { content: "\e606"; }

.if-featureinstruction:before { content: "\e7bc"; }

.if-mapring:before { content: "\e7f1"; }

.if-homenewhouse:before { content: "\e600"; }

.if-homecomission:before { content: "\e601"; }

.if-homerent:before { content: "\e602"; }

.if-homesale:before { content: "\e603"; }

.if-listhome:before { content: "\e604"; }

.if-rightarrow:before { content: "\e94c"; }

.if-gongyu_dimond:before { content: "\e993"; }

.if-home_gongyu:before { content: "\e999"; }
